body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.creation_form {
    border-radius: 20px;
    border: solid 1px lightblue;
    padding: 15px;
    margin: 20px;
}

input[type="text"],
textarea {
    max-width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: lightblue;
    height: 100px;
    padding: 30px;
}